body{
   

    font-family: 'BIZ UDMincho', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Tiro Kannada', serif;


}

/* Media Adjustment */

/* For Mobile */

@media only screen and (max-width: 670px) {

    .introduction-block{
        flex-direction: column;
      width: 100%;
      
    }



.main-image image{
    width: 100%;
    height: 100%;
}

.content,.footer-menu{
    flex-direction: column;
    
    width: 100%;
}


.menu-bar{

    width: 100%;
    height: 100%;
}



.blog{
   grid-template-columns: repeat(1,1fr);
width: 100%;
}






}





/* Animation */
@keyframes jumping{
    5%{
        color: aqua;
        transform: rotate(30deg)
    }

    25%{
       color: chartreuse;
    }
    50%{
       color: crimson;
    }
    75%{
        color:purple;
    }
    100%{
        color:yellow;
    }
}

.introduction-block{
    display: flex;
   
    align-items: center;
    background-color: black;
    width: 82%;
    height: 70%;
    border-radius: 10px;
   margin: 4% 9.2%;
}


.introduction-block:hover  h1{
    animation: jumping 5s ease-in-out  5 ;
    animation-play-state: running;
    ;
}

.text-introduction{
    width: 50%;
    padding-left: 50px;

  
}

.main-image img{
  width: 80%;
  height: 100%;
  padding-left: 15%;
  
    

}

h1,p{
    color: white;

}

 .button a {
    text-decoration: none;
    color: whitesmoke;
}
.button{
    
    width: 140px;
    height: 30px;
    border: 3px solid rgb(53, 4, 230);
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
}

.content{
    display: flex;
 margin-top: 5%;
}
.menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 54%;
    width: 230px;
    height: 280px;
    border-radius: 10px;
    background-color: black;
   
}

.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2.5%;
    column-gap: 2.5%;
    margin-left:37%;
    
  
}
.blog-post{
    width: 230px;
    height: 330px;
    border: 2px solid black;
    border-radius: 5%;
    background-color: transparent;
  

}
.match{
    width: 239px;
    height: 200px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 10px;
    
}
.vs-flag{
    display: flex;
    justify-content: space-evenly;
   padding-top: 8%;
    align-items: center;
}


.blog-post img{
    width: 100%;
    border-radius: 5%;
}

.blog-post p{
    padding-left: 3%;
}
.blog-post a{
    text-decoration: none;
    color: gray;


    padding-bottom: 2px;
}
.transfer-button{
 
    border: 1px solid gray;
    border-radius: 5px;
  margin-left: 3%;
   text-align: center;
}

.small-icon{

    display: flex;
    padding-left: 5%;
  
 
   
 
}

.small-icon p{
    padding-left: 10%;


   
}  

.fa-clock, .fa-comment-dots{
    color: gray;
    padding-right: 5px;
    
}

.blog-post p{
    color: black;
    font-weight: 900;
  
}


.ending{
    margin-top: 15%;
 padding-top: 5%;
 padding-bottom: 8%;
    height: 30%;
    background-color: hsl(240, 0%, 10%);
    text-align: center;
  
}

hr{
    width: 70%;
    background-color: gray;
    height: 1px;
    border: none;
   
}

.footer-menu{
    display: flex;
   align-items: center;
   justify-content: center;
    

    
}

.footer-menu a {
    text-decoration: none;
    color: gray;
    padding-right: 4%;
}